@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.mainbg {
    background: rgb(130, 86, 23);
    background: linear-gradient(180deg, rgba(130, 86, 23, 1) 0%, rgba(130, 86, 23, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.ele {
    background: rgb(196, 204, 204);
    background: linear-gradient(45deg, rgba(196, 204, 204, 1) 0%, rgba(255, 253, 248, 1) 100%);
}

.black-gra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 6px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(60, 59, 56, 1) 100%);
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.scale-out-center {
    animation: scale-out-center .5s cubic-bezier(.55, .085, .68, .53) both
}
@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(0);
        opacity: 1
    }
}